

.bonus {

    width: 35px;
    height: 35px;
    position: absolute;
    margin: auto;
    right: 5px;
    bottom: 5px;
}


.tile {
    position: absolute; 
    width: 60px; 
    height: 60px;
}


#inventory {
    display: none;


}

#map-content {
    margin: 0 auto;
    position: relative;
    top: 25px;
    border: 1px solid black;
    width: 1200px;
    height: 540px;
    text-align: center;
    /* overflow: auto; */
    /* overflow-y: scroll; */

}

/* --------------------------------------------------------------------- */

#statsContainer{
  /* position: relative; */
  height: 50px;
}



#statsLevel{
  position: absolute;
  left: 10px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #statsLevelIcon{
      width: 40px;
      height: 30px;
      background-image: url("img//statsIcons/level.png");
      margin-left: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #levelCounter{
        margin-top: 5px;
        text-align: center;
    }



#healthLevel{
  position: absolute;
  left: 80px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #healthLevelIcon{
      width: 40px;
      height: 30px;
      background-image: url("img//statsIcons/health.png");
      margin-left: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #healthCounter{
        margin-top: 5px;
        text-align: center;
    }



#goldCoins{
  position: absolute;
  left: 150px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #goldCoinsIcon{
      width: 30px;
      height: 30px;
      background-image: url("img/statsIcons/goldcoin.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #goldCoinCounter{
        margin-top: 5px;
        text-align: center;
    }



#silverCoins{
  position: absolute;
  left: 215px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;    
}
    #silverCoinsIcon{
      width: 30px;
      height: 30px;
      background-image: url("img/statsIcons/silvercoin.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #silverCoinCounter{
        margin-top: 5px;
        text-align: center;
    }



#copperCoins{
  position: absolute;
  left: 280px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;    
}
    #copperCoinsIcon{
      width: 30px;
      height: 30px;
      background-image: url("img/statsIcons/coppercoin.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #copperCoinCounter{
        margin-top: 5px;
        text-align: center;
    }



#statsExperience{
  position: absolute;
  left: 350px;  
  height: 60px;
  width: 90px;
  background-color: none;
  border: 1px dotted grey;    
}
    #statsExperienceIcon{
      width: 80px;
      height: 25px;
      background-image: url("img/statsIcons/experience.png");
      margin-left: 5px;
      background-size: contain;
      
    }

    #experienceWrapper {
      margin-top: 10px;
      margin-left: 5px;
      text-align: center;
      display: inline-block;

    }

      #experienceCounter{
          display: inline-block;
          float: left;
          padding-right: 5px;
      }


      #experienceSeparator {
        display: inline-block;
        margin: 0 auto;


      }

      #experienceNextLevel{
          display: inline-block;
          float: right;
          padding-left: 5px;
      }



#statsAttack{
  position: absolute;
  left: 450px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   

}
    #statsAttackIcon{
      width: 40px;
      height: 30px;
      background-image: url("img/statsIcons/attack.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #attackCounter{
        margin-top: 5px;
        text-align: center;
    }



#statsDefense{
  position: absolute;
  left: 520px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;    
}
    #statsDefenseIcon{
      width: 40px;
      height: 30px;
      background-image: url("img/statsIcons/defense.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #defenseCounter{
        margin-top: 5px;
        text-align: center;
    }


#statsDefense{
  position: absolute;
  left: 520px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #statsDefenseIcon{
      width: 40px;
      height: 30px;
      background-image: url("img/statsIcons/defense.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #defenseCounter{
        margin-top: 5px;
        text-align: center;
    }


#statsLuck{
  position: absolute;
  left: 590px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #statsLuckIcon{
      width: 40px;
      height: 30px;
      background-image: url("img/statsIcons/luck.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #luckCounter{
        margin-top: 5px;
        text-align: center;
    }









#status {
     /* position: absolute; */
     float: right;
     top: 5px;
     right: 10px;  
}


#turnCounter {
    width: 35px;
    font-size: 25px;
    color: grey;
}



#dividerItemsTable {

	width: 70px;
	
}

#helmetIcon {

	width: 70px;
	
}


/* --------------------------------------------------------------------- */

#version {
     position: fixed;
     bottom: 10px;
     right: 10px;
     font-size: 9;
     color: grey; 
}



#inventory {
     position: absolute;
     bottom: 10px;
     left: 5px;
     font-family: Tahoma;
     font-size: 10px;
     color: #FFD700;
     text-align: center;
     
}


#stats {
     top: 5px;
     left: 5px;
     font-family: Tahoma;
     font-size: 15px;
     text-align: center;
     
}

#arrowsCounter {
     font-family: Tahoma;
     font-size: 18px;
     color: #FFD700;
     
}

#healingPotionsCounter {
     font-family: Tahoma;
     font-size: 18px;
     text-decoration: underline;
}

#healingPotionsCounter:hover{
     color: #A52A2A;
}



#player {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: auto;
    left: 0px;

}

#dragon {

    width: 60px;
    height: 60px;
    position: absolute;
    margin: auto;
    left: 0px;

}


/* FOR QJUERY UI DIALOGIES */


#eventIntro { 
 display: none;
}

#dialog { 
 display: none;
}

#combatPage { 
 display: none;
 width: 999px;
 height: 600px;
}

#combat-dialog-background {
  position: absolute;
  background-repeat: no-repeat;
  /* background-image: url(img/messages/encounter_dialogue_background_400x500.png);
  background-repeat: no-repeat; 
  background-color: #F0F0F0; */
  width: 999px;
  height: 600px; 
  margin-left: -10px;
  margin-bottom: 0px;
}

#combat-dialog-eventslog {
  width: 550px;
  height: 100px;
  border: yellow solid 1px;
  margin: 0 auto;
  overflow-y: scroll;
}

#combat-dialog-battlefield {
  width: 200px;
  height: 150px;
  border: red solid 1px;
  margin-top: 120px;
}


#dialog-background {
  position: absolute;
  background-image: url(img/messages/encounter_dialogue_background_400x500.png);
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  margin-left: -20px;
  margin-top: -10px; 

}

#dialog-header {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Cursive;
  color: black;
  font-weight: bold;
  padding: 20px;
 }

#dialog-image { /* image of a mob */
  width: 200px;
  height: 150px;
  margin: auto;
  background-image:url(mob image);
  background-size: 200px 150px;
    background-repeat: no-repeat;
}

#dialog-event-intro {
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
  font-size: 15px;
  font-family: cursive;
  font-style: Italic;
  color: black;
  padding: 20px;
 }

#dialog-player-options {
  margin: auto;
  margin-top: 0px;
  margin-left: 25px;
  text-align: left;
  font-size: 15px;
  font-family: cursive;
  font-style: Italic;
  color: black;
  padding: 20px;
 }


.no-close .ui-dialog-titlebar-close { /* hides close button in Jquery UI dialogues  */
  display: none;
}


.ui-widget-header {
  border: none !important;
  background: transparent !important;
}

.ui-corner-all { 
  border: none !important;
  
}

.ui-widget-content {
  background: transparent !important;
}

.ui-dialog .ui-dialog-buttonpane { 
    text-align: center !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none !important;
}

.ui-dialog .ui-dialog-buttonpane button {
   color: black;
   font-size: 13px;
   padding: 3px; /* change button size */
   
  /* text-indent: -9999em;  hides the text 
    color: transparent;  also hides text 
    background-image: url(/path/to/image.png); replaces default image 
    background-repeat: no-repeat;
 */
  
}

#experience-loss-span {
  color: red;  
}


/*.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable {background: transparent !important }*/

