

#cityPage {
  display: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;  
}


    #cityPage-background {
      position: relative;
      top: 10px;
      background-image: url(../img/dialogs/city/city-background.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 950px;
      height: 530px;
      border-radius: 10px;
    }


    	#cityPage-cityName {
    		position: absolute;
    		height: 70px;
    		margin-top: 10px;
    		margin-left: 310px; /* 380px  */
        font-size: 45px;
        padding-left: 50px;
        padding-right: 50px;
        font-family: cursive;
        font-style: Italic;
        color: black;
        background-image: url(../img/dialogs/city/city-name-background.png);
        background-size: 100% 100%;
     		background-repeat: no-repeat;
        border: 0px dotted red;

    	}

      #cityPage-cityBanner {
          position: absolute;
          width: 91px;
          height: 150px;
          border: 0px dotted yellow;
          margin-top: 85px;
          margin-left: 280px;
          background-image: url(../img/dialogs/city/banners/b.png);
          background-repeat: no-repeat;

        } 

      #cityPage-marketSign {
          position: absolute;
          width: 170px;
          height: 80px;
          border: 0px dotted yellow;
          margin-top: 340px;
          margin-left: 30px;
          background-image: url(../img/dialogs/city/market_sign.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          padding-top: 40px;
          padding-left: 60px;
          font-size: 22px;
          font-family: cursive;
          font-style: Italic;
          color: black;
          border: 0px solid green;
          opacity:0.9;
        } 

          #cityPage-marketSign:hover {
            opacity:1;
          }


      #cityPage-parlorSign {
          position: absolute;
          width: 170px;
          height: 80px;
          border: 1px dotted blue;
          margin-top: 360px;
          margin-left: 745px;
          background-image: url();
          background-repeat: no-repeat;
          background-size: 100% 100%;
          padding-top: 0px;
          padding-left: 0px;
          font-size: 22px;
          font-family: cursive;
          font-style: Italic;
          color: black;
          opacity:0.9;
          background-color: yellow;      
      }

          #cityPage-parlorSign:hover {
            opacity:1;
          }



#gamingParlorPage {
  display: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;  
}


    #gamingParlorPage-background {
      position: relative;
      top: 10px;
      background-image: url(../img/dialogs/city/parlor/table.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 950px;
      height: 530px;
      border-radius: 10px;
    }


            #gamingParlorPage-bet1{
                position: absolute;
                top: 320px;
                left: 70px;
                font-family: cursive;
                font-style: Italic;
                color: black;
                font-size: 20px;           
            }

            #gamingParlorPage-bet2{
                position: absolute;
                top: 320px;
                left: 101px;
                font-family: cursive;
                font-style: Italic;
                color: black;
                font-size: 20px;           
            }

            #gamingParlorPage-bet3{
                position: absolute;
                top: 320px;
                left: 132px;
                font-family: cursive;
                font-style: Italic;
                color: black;
                font-size: 20px;           
            }

            #gamingParlorPage-bet4{
                position: absolute;
                top: 320px;
                left: 160px;
                font-family: cursive;
                font-style: Italic;
                color: black;
                font-size: 20px;           
            }

            #gamingParlorPage-bet5{
                position: absolute;
                top: 320px;
                left: 195px;
                font-family: cursive;
                font-style: Italic;
                color: black;
                font-size: 20px;           
            }





              #gamingParlorPage-stakeBox{
                position: absolute;
                width: 135px;
                height: 20px;
                top: 345px;
                left: 70px;
                border: 0px dotted blue;  
              }

              #gamingParlorPage-stakeLegend{
                position: absolute;
                width: 80px;
                height: 20px;
                top: 365px;
                left: 110px;
                border: 0px dotted yellow;
                font-family: cursive;
                font-style: Italic;
                color: orange;
                font-size: 14px;
              }



              #gamingParlorPage-playButton{
                position: absolute;
                width: 120px;
                height: 35px;
                top: 460px;
                left: 80px;
                border-radius: 10px;
                border: 2px solid blue;
                background-color: yellow;  
              }


              #gamingParlorPage-purse{
                position: absolute;
                width: 262px;
                height: 309px;
                top: 40px;
                left: 20px;
                background-image: url(../img/dialogs/city/parlor/purse.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;

              }

              #gamingParlorPage-oponentCard{
                position: absolute;
                border: 0px dotted green;
                width: 111px;
                height: 150px;
                top: 60px;
                left: 420px;
                background-image: url();
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }

              #gamingParlorPage-playerCard{
                position: absolute;
                border: 0px dotted red;
                width: 111px;
                height: 150px;
                top: 320px;
                left: 420px;
                background-image: url();
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }

              #gamingParlorPage-outcomeMessage{
                position: absolute;
                border: 0px dotted red;
                width: 145px;
                height: 50px;
                top: 235px;
                left: 400px;
                font-family: cursive;
                font-style: Italic;
                color: orange;
                font-size: 22px;
              }



#marketPage {
  display: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;  
}


    #marketPage-background {
      position: relative;
      top: 10px;
      background-image: url(../img/dialogs/city/parlor/table.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 950px;
      height: 530px;
      border-radius: 10px;
    }




      #marketPage-market-container {
          position: absolute;
          width: 750px;
          height: 205px;
          border: 1px dotted blue;
          margin-top: 100px;
          margin-left: 100px;
          overflow-x: hidden;
          overflow-y: auto;
          white-space: nowrap; 
        }

            #marketPage-market-filters-container {
                position: relative;
                left: 150px;
                top: 310px;  
                height: 40px;
                width: 750px;
                background-color: none;
                border: 1px dotted green;
                white-space: nowrap;       

            }


                    #marketPage-market-filters-budget {
                        position: absolute;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #FFFF00;
                      }



                      #marketPage-market-filters-all {
                        position: absolute;
                        margin-left: 70px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #707070;
                      }

                      #marketPage-market-filters-melee {
                        position: absolute;
                        margin-left: 150px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #9F000F;
                      }
                      
                      #marketPage-market-filters-range {
                        position: absolute;
                        margin-left: 270px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #F87431;
                      }

                      #marketPage-market-filters-armor {
                        position: absolute;
                        margin-left: 395px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #009933;
                      }
                      
                      #marketPage-market-filters-shields {
                        position: absolute;
                        margin-left: 465px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #3366CC;
                      }

                      #marketPage-market-filters-arrows {
                        position: absolute;
                        margin-left: 535px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #F87431;
                      }

                      #marketPage-market-filters-potions {
                        position: absolute;
                        margin-left: 610px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #FFFF66;
                      }

                      #marketPage-market-filters-artefacts {
                        position: absolute;
                        margin-left: 685px;
                        height: 25px;
                        background-color: none;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: cursive;
                        font-style: Italic;
                        color: black;
                        background-color: #9900CC;
                      }




    	#marketPage-bagpack-container {
          position: absolute;
          width: 750px;
          height: 68px;
          border: 1px dotted red;
          margin-top: 370px;
          margin-left: 100px;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap; 
        }


        #marketPage-filters-container {
          position: relative;
          left: 120px;
          top: 455px;  
          height: 40px;
          width: 750px;
          background-color: none;
          border: 1px dotted yellow;
          white-space: nowrap;

   

      }

                #marketPage-filters-all {
                  position: absolute;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #707070;
                }

                #marketPage-filters-melee {
                  position: absolute;
                  margin-left: 80px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #9F000F;
                }
                
                #marketPage-filters-range {
                  position: absolute;
                  margin-left: 195px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #F87431;
                }

                #marketPage-filters-armor {
                  position: absolute;
                  margin-left: 320px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #009933;
                }
                
                #marketPage-filters-shields {
                  position: absolute;
                  margin-left: 385px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #3366CC;
                }

                #marketPage-filters-arrows {
                  position: absolute;
                  margin-left: 455px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #F87431;
                }

                #marketPage-filters-potions {
                  position: absolute;
                  margin-left: 525px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #FFFF66;
                }

                #marketPage-filters-artefacts {
                  position: absolute;
                  margin-left: 600px;
                  height: 25px;
                  background-color: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-family: cursive;
                  font-style: Italic;
                  color: black;
                  background-color: #9900CC;
                }


