
#insufficientFundsPage { 
 display: none;
 width: 350px;
 height: 270px;
}
    #insufficientFundsPage-background {
      position: absolute;
      background-image: url(../img/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 350px;
      height: 270px;
      margin-left: 0px;
      margin-top: 0px; 

    }
        #insufficientFundsPage-message {

                width: 300px;
                font-family: cursive;
                font-style: italic;
                font-size: 18px;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                border: 0px dotted blue;

        }




#insufficientExperiencePage { 
 display: none;
 width: 350px;
 height: 270px;
}
      #insufficientExperiencePage-background {
        position: absolute;
        background-image: url(../img/dialogue_background.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 350px;
        height: 270px;
        margin-left: 0px;
        margin-top: 0px; 

      }
            #insufficientExperiencePage-message {

                    width: 300px;
                    font-family: cursive;
                    font-style: italic;
                    font-size: 18px;
                    text-align: center;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    border: 0px dotted blue;

            }




#cityEntranceErrorPage { 
 display: none;
 width: 350px;
 height: 270px;
}
    #cityEntranceErrorPage-background {
      position: absolute;
      background-image: url(../img/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 350px;
      height: 270px;
      margin-left: 0px;
      margin-top: 0px; 

    }
        #cityEntranceErrorPage-message {

                width: 300px;
                font-family: cursive;
                font-style: italic;
                font-size: 18px;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                border: 0px dotted blue;

        }



#saveGamePage { 
 display: none;
 width: 350px;
 height: 270px;
}

    #saveGamePage-background {
      position: absolute;
      background-image: url(../img/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 350px;
      height: 270px;
      margin-left: 0px;
      margin-top: 0px; 
    }

        #saveGamePage-message {

                width: 300px;
                font-family: cursive;
                font-style: italic;
                font-size: 18px;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                border: 0px dotted blue;
        }

