
#insufficientFundsPage { 
 display: none;
 width: 350px;
 height: 270px;
}
    #insufficientFundsPage-background {
      position: absolute;
      background-image: url(../img/dialogs/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 350px;
      height: 270px;
      margin-left: 0px;
      margin-top: 0px; 

    }
        #insufficientFundsPage-message {

                width: 300px;
                font-family: cursive;
                font-style: italic;
                font-size: 18px;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                border: 0px dotted blue;

        }




#insufficientExperiencePage { 
 display: none;
 width: 350px;
 height: 270px;
}
      #insufficientExperiencePage-background {
        position: absolute;
        background-image: url(../img/dialogs/dialogue_background.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 350px;
        height: 270px;
        margin-left: 0px;
        margin-top: 0px; 

      }
            #insufficientExperiencePage-message {

                    width: 300px;
                    font-family: cursive;
                    font-style: italic;
                    font-size: 18px;
                    text-align: center;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    border: 0px dotted blue;

            }















#cityEntranceErrorPage { 
 display: none;
 width: 350px;
 height: 270px;
}
    #cityEntranceErrorPage-background {
      position: absolute;
      background-image: url(../img/dialogs/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 350px;
      height: 270px;
      margin-left: 0px;
      margin-top: 0px; 

    }
        #cityEntranceErrorPage-message {

                width: 300px;
                font-family: cursive;
                font-style: italic;
                font-size: 18px;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                border: 0px dotted blue;

        }




#insufficientSomethingPage { 
 display: none;
 width: 350px;
 height: 270px;
}
      #insufficientSomethingPage-background {
        position: relative;
        background-image: url(../img/dialogs/dialogue_background.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 340px;
        height: 285px;
        margin-left: -10px;
        margin-top: 0px; 
        border: 0px dotted blue;
      }
            #insufficientSomethingPage-message {

              position: relative;
              width: 280px;
              font-family: cursive;
              font-style: italic;
              font-size: 18px;
              /* text-align: center; */
              display: block;
              margin-left: auto;
              margin-right: auto;
              top: 30px;
              border: 0px dotted green;
            }



#successSomethingPage { 
 display: none;
 width: 350px;
 height: 270px;
}
      #successSomethingPage-background {
        position: relative;
        background-image: url(../img/dialogs/dialogue_background.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 340px;
        height: 285px;
        margin-left: -10px;
        margin-top: 0px; 
        border: 0px dotted blue;
      }
            #successSomethingPage-message {

              position: relative;
              width: 280px;
              font-family: cursive;
              font-style: italic;
              font-size: 18px;
              /* text-align: center; */
              display: block;
              margin-left: auto;
              margin-right: auto;
              top: 30px;
              border: 0px dotted green;
            }

              #successSomethingPage-seal {

                position: absolute;
                width: 150px;
                height: 80px;
                background-image: url(../img/dialogs/seal.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                top: 190px;
                left: 200px;

          }




#saveGamePage { 
 display: none;
 width: 350px;
 height: 420px;
 border: 0px dotted red;

}
    #saveGamePage-background {
      position: relative;
      background-image: url(../img/dialogs/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 340px;
      height: 285px;
      margin-left: -10px;
      margin-top: 0px; 
      border: 0px dotted blue;
    }
        #saveGamePage-message {

            position: relative;
            width: 280px;
            font-family: cursive;
            font-style: italic;
            font-size: 18px;
            /* text-align: center; */
            display: block;
            margin-left: auto;
            margin-right: auto;
            top: 30px;
            border: 0px dotted green;
        }

        #saveGamePage-seal {

                position: absolute;
                width: 150px;
                height: 80px;
                background-image: url(../img/dialogs/seal.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                top: 190px;
                left: 200px;

        }


#getBonusItemPage { 
 display: none;
 width: 500px;
 height: 400px;
 border: 0px dotted red;
 overflow-y: hidden; 


}
    #getBonusItemPage-dialog-background {
      position: relative;
      background-image: url(../img/dialogs/dialogue_background.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 530px;
      height: 400px;
      margin-left: -10px;
      margin-top: 0px; 
      border: 0px dotted blue;
    }
        
        #getBonusItemPage-header {
            position: relative;
            width: 350px;
            font-family: cursive;
            font-style: italic;
            font-size: 32px;
            text-align: center; 
            display: block;
            margin-left: auto;
            margin-right: auto;
            top: 20px;
            border: 0px dotted red;
        }

        #getBonusItemPage-image {
                position: relative;
                width: 200px;
                height: 200px;
                background-image: 0;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin-left: auto;
                margin-right: auto;
                border: 0px solid green;
                top: 30px;
       }


        #getBonusItemPage-message {
            position: relative;
            width: 420px;
            font-family: cursive;
            font-style: italic;
            font-size: 18px;
            /* text-align: center; */
            display: block;
            margin-left: auto;
            margin-right: auto;
            top: 50px;
            border: 0px dotted blue;
        }



      



