

.itemInfoContainer {
	display: none;
	position: absolute;
	z-index: 100;
	margin-top: 200px;
	margin-left: 300px;

	height: 120px; 
	width: 200px;
	background: #FFFFC2;
	background-color: #FFFFC2;
}


		.itemInfoName {
			position: absolute;
			margin-top: 3px;
			margin-left: 5px;

			font-family: cursive;
			font-style: italic;
			font-size: 20px;
		}

		.itemInfoAttack {
			position: absolute;
			margin-top: 30px;
			margin-left: 15px;

			font-family: cursive;
			font-style: italic;
			font-size: 16px;
		}

		.itemInfoDefense {
			position: absolute;
			margin-top: 50px;
			margin-left: 15px;

			font-family: cursive;
			font-style: italic;
			font-size: 16px;
		}


		.itemInfoBuyPrice {
			position: absolute;
			margin-top: 70px;
			margin-left: 15px;

			font-family: cursive;
			font-style: italic;
			font-size: 16px;
		}

		.itemInfoSellPrice {
			position: absolute;
			margin-top: 90px;
			margin-left: 15px;

			font-family: cursive;
			font-style: italic;
			font-size: 16px;
		}
