
#statsContainer{
  /* position: relative; */
  height: 50px;
}



#statsLevel{
  position: absolute;
  left: 10px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #statsLevelIcon{
      width: 40px;
      height: 30px;
      background-image: url("../img/statsIcons/level.png");
      margin-left: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #levelCounter{
        margin-top: 5px;
        text-align: center;
    }



#healthLevel{
  position: absolute;
  left: 80px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #healthLevelIcon{
      width: 40px;
      height: 30px;
      background-image: url("../img//statsIcons/health.png");
      margin-left: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #healthCounter{
        margin-top: 5px;
        text-align: center;
    }



#goldCoins{
  position: absolute;
  left: 150px;  
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px dotted grey;   
}
    #goldCoinsIcon{
      width: 30px;
      height: 30px;
      background-image: url("../img/statsIcons/goldcoin.png");
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #goldCoinCounter{
        margin-top: 5px;
        text-align: center;
    }



#statsExperience{
  position: absolute;
  left: 350px;  
  height: 60px;
  width: 90px;
  background-color: none;
  border: 1px dotted grey;    
}
    #statsExperienceIcon{
      width: 80px;
      height: 25px;
      background-image: url("../img/statsIcons/experience.png");
      margin-left: 5px;
      background-size: contain;
      
    }

    #experienceWrapper {
      margin-top: 10px;
      margin-left: 5px;
      text-align: center;
      display: inline-block;
    }

      #experienceCounter{
          display: inline-block;
          float: left;
          padding-right: 5px;
      }


      #experienceSeparator {
        display: inline-block;
        margin: 0 auto;
      }

      #experienceNextLevel{
          display: inline-block;
          float: right;
          padding-left: 5px;
      }



#statsSpellBook{
  position: absolute;
  left: 750px;  
  height: 60px;
  width: 60px;
  border: 1px dotted grey;   
}
    #statsSpellBookIcon{
      width: 50px;
      height: 50px;
      background-image: url("../img/statsIcons/spellbook.png");
      margin-left: 5px;
      background-size: contain;
      background-repeat: no-repeat;
    }

        #spellBookEquipIndicator{
          position: absolute;
          margin-top: 30px;
          margin-left: 20px;
          width: 30px;
          height: 30px;
          background-image: url("../img/statsIcons/redcross.png");
        }




#statsCharacter{
  position: absolute;
  left: 820px;  
  height: 60px;
  width: 60px;
  border: 1px dotted grey;   
}
    #statsCharacterIcon{
      width: 50px;
      height: 50px;
      margin-left: 5px;
      margin-top: 5px;
      background-size: contain;
      background-repeat: no-repeat;
    }


#statsCity{
  position: absolute;
  left: 890px;  
  height: 60px;
  width: 60px;
  border: 1px dotted grey;   
}
    #statsCityIcon{
      width: 50px;
      height: 50px;
      margin-left: 5px;
      margin-top: 5px;
      background-image: url("../img/statsIcons/city.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

        #cityEntranceIndicator{
          position: absolute;
          margin-top: 25px;
          margin-left: 20px;
          width: 30px;
          height: 30px;
          background-image: url("../img/statsIcons/redcross.png");
        }


#status { /* DAY or NIGHT indicator */
     
     float: right;
     top: 5px;
     right: 10px;  
}


#turnCounter {
    width: 35px;
    font-size: 25px;
    color: grey;
}


#version {
     position: fixed;
     bottom: 10px;
     right: 10px;
     font-size: 9;
     color: grey; 
}

