
#eventIntro { 
 display: none;
}

#dialog { 
 display: none;
}

#combatPage { 
 display: none;
 width: 999px;
 height: 600px;
}

#combat-dialog-background {
  position: absolute;
  background-repeat: no-repeat;
  /* background-image: url(../img/messages/encounter_dialogue_background_400x500.png);
  background-repeat: no-repeat; 
  background-color: #F0F0F0; */
  width: 999px;
  height: 600px; 
  margin-left: -10px;
  margin-bottom: 0px;
}

#combat-dialog-eventslog {
  width: 550px;
  height: 100px;
  border: yellow solid 1px;
  margin: 0 auto;
  overflow-y: scroll;
}

#combat-dialog-battlefield {
  width: 200px;
  height: 150px;
  border: red solid 1px;
  margin-top: 120px;
}


#dialog-background {
  position: absolute;
  background-image: url(../img/messages/encounter_dialogue_background_400x500.png);
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  margin-left: -20px;
  margin-top: -10px; 

}

#dialog-header {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Cursive;
  color: black;
  font-weight: bold;
  padding: 20px;
 }

#dialog-image { /* image of a mob */
  width: 200px;
  height: 150px;
  margin: auto;
  background-image:url(mob image);
  background-size: 200px 150px;
    background-repeat: no-repeat;
}

#dialog-event-intro {
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
  font-size: 15px;
  font-family: cursive;
  font-style: Italic;
  color: black;
  padding: 20px;
 }

#dialog-player-options {
  margin: auto;
  margin-top: 0px;
  margin-left: 25px;
  text-align: left;
  font-size: 15px;
  font-family: cursive;
  font-style: Italic;
  color: black;
  padding: 20px;
 }


